<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app" v-cloak>
        {{ message }}
        <input @keyup.enter="greet(message)" v-model="message"/>
        <div v-if="isVisible" class="box">fuck</div>
        <button @click="toggleBox">Show box</button>
    </div>

    <script>
    const { createApp } = Vue

    createApp({
        data() {
        return {
            message: 'Hello Vue!!!!',
            isVisible: false
        }
        },
        methods: {
            toggleBox() {
                this.isVisible = !this.isVisible
            },
            greet(message) {
                console.log(message)
            }
        },
    }).mount('#app')
    </script>
</body>
</html>